* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu,
.paper,
.summary {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
}

.paper .head {
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    background-color: #ccc;
}

.key {
    margin: 8px;
}

.question {
    margin-top: 8px;
    margin-right: 8px;
}

.paper .content {
    flex-grow: 1;
    overflow: auto;
}

.paper .content .qa:nth-child(even) {
    background-color: #ddd;
}

.head {
    display: flex;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.hide {
    /* display: none; */
    visibility: hidden;
}

.q {
    display: flex;
}

.q .question {
    flex-grow: 1;
}

.menu div {
    margin: 4px 24px;
    font-size: 24px;
}

#close {
    height: 32px;
    width: 32px;
    margin: 0 auto;
    background-image: url('./close.png');
    background-repeat: no-repeat;
}

#summary-content {
    width: 100%;
    overflow: auto;
}