* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.paper,
.menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
}

.question img {
    width: 100%;
}

.a {
    border: 1px solid #bbb;
}

.hide {
    /* visibility: hidden; */
    display: none;
}

.title {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    background-color: #ccc;
}

#back {
    /* display: inline-block; */
    width: 40px;
    text-align: center;
    color: #eee;
}

#title {
    display: inline-block;
    width: calc(100vw - 48px);
    text-align: center;
}

#paper {
    flex-grow: 1;
    overflow: auto;
}

#menu div {
    font-size: 24px;
    margin: 8px 16px;
    background-color: #ccc;
}